body {
    background: #c6ccd8;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    background: #85a1c1;
    margin:10px;
}

.assignment img {
    width: 200px;
    padding:10px;
}
 
h1{
    color: #274b69;
    text-align: center;
}

a {
    text-decoration: none;
}